.button{
    margin-left: 70rem;
}
.yes {
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  margin-left: 150px;
  height: 38px;
  width: 14%;
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
  
.no {
  cursor: pointer;
  position: absolute;
  border-radius: 8px;
  margin-left: 230px;
  height: 38px;
  width: 13%;
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.headertext {
  font-size: 1.875rem;
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: 700;
  margin-left: 125px;
  color: rgb(190, 116, 18);
}
  
.close {
  position: absolute;
  top: 10px;
  left: 200px;
  cursor: pointer;
}
.clear {
  position: absolute;
  top: 10px;
  left: 185px;
  cursor: pointer;
}
.save {
  position: absolute;
  top: 10px;
  left: 170px;
  cursor: pointer;
}
.input {
  display: flex;
  width: 16rem;
  align-items: center;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
}

.header{
  background-color: aliceblue;
  width: 100%;
  margin-bottom: 1rem;
}
.avatar{
  margin-left: 37rem;
}
